{% extends "home.html" %}

{% block content %}
<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }

    th,
    td {
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }

    th {
        background-color: #f2f2f2;
    }
     tr:hover {
        background-color: #f5f5f5;
    }
</style>

<h3>View Fetch Books</h3>
<table border="2" id="BookTable">
    <tr>
        <th>Book name</th>
        <th>Discription</th>
        <th>Publish year</th>
        <th>PDF file</th>
    </tr>
    {% for books in view_books %}
    <tr>
    
        <td>{{ books.title }}</td>
        <td>{{ books.description }}</td>
        <td>{{ books.year_of_published }}</td>
        <td>{{ books.file }}</td>
    
    </tr>
    {% endfor %}
    </table>
    <script>
        //get the table element by it id 
        var table = document.getElementById("BookTable");
        //get all the rows of the table
        var rows = table.getElementsByTagName("tr");
        //  Added event listener to each row of the table
        for (var i = 0; i < rows.length; i++) {
            // add event listener for mouseenter and mouse leave events
            rows[i].addEventListener("mouseenter", function () {
                this.style.backgroundColor = "#00FFFF"
            });
            rows[i].addEventListener("mouseleave", function () {
                this.style.backgroundColor = "";
            });
        }
    </script>
{% endblock %}
