{% extends "home.html" %}

{% block content %}
<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }

    th,
    td {
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }

    th {
        background-color: #f2f2f2;
    }

</style>

<h3>View Fetch Books</h3>
<table border="2">
    <tr>
        <th>Book name</th>
        <th>Discription</th>
        <th>Publish year</th>
        <th>PDF file</th>
    </tr>
    {% for books in view_books %}
    <tr>
    
        <td>{{ books.title }}</td>
        <td>{{ books.description }}</td>
        <td>{{ books.year_of_published }}</td>
        <td>{{ books.file }}</td>
    
    </tr>
    {% endfor %}
    </table>
    </div>
{% endblock %}
