{% extends "home.html" %}

{% block content %}
<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }

    th,
    td {
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }

    th {
        background-color: #f2f2f2;
    }
    tr:hover{
        background-color: #f5f5f5;
    }
</style>

<h3>View Books</h3>
<!--  -->
<table border="2" id="BookTable">
    <thead>
        <tr>
            <th>Title</th>
            <th>Cost</th>
            <th>Description</th>
            <th>Download Book</th>
        </tr>
    </thead>
    <tbody>
        {% for book in view_books %}
        <tr data-title="{{ book.title }}" data-cost="{{ book.cost }}" data-desc="{{ book.description }}">
            <td>{{ book.title }}</td>
            <td>{{ book.cost }}</td>
            <td>{{ book.description }}</td>
            <td>
                {% if book.file %}
                <a href="F:/Markytics Task/Book_social/MyProject/media/{{ book.file }}" target="_blank">View / Download PDF</a>
                {% else %}
                N/A
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<script>
    //get the table element by it id 
    var table = document.getElementById("BookTable");
    //get all the rows of the table
    var rows = table.getElementsByTagName( "tr" );
    //  Added event listener to each row of the table
    for (var i=0 ; i<rows.length ; i++) 
    {
        // add event listener for mouseenter and mouse leave events
        rows[i].addEventListener("mouseenter",function(){
            this.style.backgroundColor="#00FFFF"
        });
        rows[i].addEventListener("mouseleave",function(){
            this.style.backgroundColor="";
        });

        //added click event listener to show book details 
        rows[i].addEventListener('click', function() {
            var title =this.getAttribute("data-title")
            var cost =this.getAttribute("data-cost")
            var description = this.getAttribute("data-desc")
            alert("Book Details:\nTitle: "+title+"\nCost:"+cost+ "\ndescription :"+description);
        });
            }
</script>
{% endblock %}
